.x-mirror { -moz-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: fliph; /*IE*/ }

#domWorld { position: relative; }
#temp { position: absolute; height: 50px; width: 50px; border: 5px solid black; background-image: url(img/proto.png); }